doctype
html(lang='en')
    head
        meta(charset='utf-8')
        title Clase NODEJS
        link(rel="stylesheet", href="http://localhost:8080/css/bootstrap.min.css", type="text/css")
        script(type='text/javascript' src='http://localhost:8080/js/bootstrap.min.js')
    body
        block contenido